<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Aditya Birla</title>
</head>

<body>

	<!-- <section id="nav-bar">
	<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"></a>
    </nav>
	</section> -->
	<section id="nav-bar">
		<a class="navbar-brand" href="#"></a>
		<img src="../../assets/img/aditybilacapital logo.png">
	</section>
	<!---nav-bar end----->
	<section class="cover">
		<div class="container back">

			<div class="row heading">
				<div class="col-md-12 head mt-15">
					<h3><strong>Life Goal Calculator</strong></h3>
				</div>
			</div>

			<div class="container progressbars">
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="progressbar">
							<li class="active"><strong>Enter <br>Details</strong></li>
							<li class="active"><strong>Select & <br>Prioritize Goals</strong></li>
							<li><strong>Calculate Goal <br>Values</strong></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-12 text-center gallary">
					<!-- <div class="validation-next">
						{{errorMsg}}
					</div> -->
					<div class="goals">
						<p><b>SELECT GOALS</b></p>
						<span  class="validation-next">{{errorMsg}}</span>
					</div>
					<div class="flex-grid my-goals">
						
						<div *ngFor="let goal of goals">
						
							<li><a [routerLink]="" (click)="addgoal(goal.type)">
									<div class="img-div"> <img src="{{goal.src}}"></div>
								</a>
								<p>{{goal.type}}</p>
							</li>
						
						</div>
					</div>
					<!-- onblur="addvalue(goal.value)" -->
					<div *ngIf='selectedGoal.length < 3'>
						<li><a (click)="addothergoal(goalValue)">
								<div class="img-div-style"><img src="{{othergoalImg}}"></div>
							</a><input *ngIf="showInput" type="text" class="adding-goals" name="goalValue" [(ngModel)]='goalValue'
								placeholder="AddOtherGoal" autocomplete="off"></li>
					</div >
				</div>


			</div>

			<div class="lastbtns">
				<div class="row">
					<div class="col-md-12">
						<!-- <a routerLink="/goals"><button type="button" class="btn nextbtn" (click)="postData()" ><b>Next</b></button></a> -->
						<a><button type="button" class="btn nextbtn" (click)="data()"><b>Next</b></button></a>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!----footer start----------->

	<section id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-8">
					<!--<img src="img/demo.png">-->
					<div class="footer">
						<p><b>@ 2019 All Rights Reserved, Aditya Birla Management Corporation Pvt. Ltd.</b></p>
						<ul>
							<li><a href="#">Terms and Conditions</a></li>
							<li><a href="#">LEARN MORE</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="footer-icons">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-twitter"></i>
						<i class="fa fa-instagram"></i>
						<i class="fa fa-youtube-play"></i>
						<i class="fa fa-linkedin"></i>
					</div>
				</div>
			</div>


		</div>
	</section>

</body>